body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.menu-item-logo {
    height: 258px;
    width: 220px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

}


.side-menu {
    height: 100%;
    width: 160px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position: fixed;

}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 220px;

}

.side-bar-shadow {
    height: 1701px;
    width: 220px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 1em #00000040;
}


.menu-top {
    height: 68px;
    width: 220px;
    padding: 1110;
    border-radius: 0px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    color: #FFFFFF;
    position: fixed;
}

/* texto central da barra de cima */
.menu-top1 {
    position: absolute;
    height: 68px;
    width: 1146px;
    margin-left: 220px;
    background: #FDF1EB;
    margin-top: 0;
    line-height: 0%;
    text-align: center;
}

.menu-top1 p {
    height: 20px;
    width: 491px;
    border-radius: 'nullpx';
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #725C5C;
    margin-left: 36px;

}

.menu-top1 h1 {
    height: 26px;
    width: 643px;
    border-radius: 'nullpx';
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    color: #725C5C;
    margin-left: 36px;
    margin-top: -15px;
}

.menu-top1 h2 {
    height: 16px;
    width: 105px;
    border-radius: 'nullpx';
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #725C5C;
    margin-left: 36px;
    margin-top: -15px;

}

/* canto esquerdo*/

.linguagem {
    position: absolute;
    left: 1040px;
    top: 19px;
}

.image {
    position: absolute;
    border-radius: -50%;
    left: 1275px;
    top: 6px;
}

.email {
    position: absolute;
    width: 163px;
    height: 15px;
    left: 1100px;
    top: 15px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    /* identical to box height */
    text-align: right;

    color: #333333;
}

.bemvindo {
    position: absolute;
    width: 72px;
    height: 18px;
    left: 1190px;
    top: -2px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    /* identical to box height */
    text-align: right;

    color: #333333;
}

/* canto direito, menu*/
.apresentacao {

    height: 33px;
    width: 220px;
    left: auto;
    top: 0px;
    border-radius: 50px;
    background-color: #FFFFFF;
}

.comite {
    height: 33px;
    width: 220px;
    left: auto;
    top: 0px;
    border-radius: 50px;
    background-color: #FFFFFF;
}



.menu-item {
    position: static;
    width: 220px;
    height: 35px;
    left: 0px;
    top: 501px;
    display: block;
    margin-left: -100px;
    align-items: center;
}

.menu-item a {
    display: flex;
    color: #725C5C;
    align-items: center;
    padding: 0 0 0 24px;
    text-decoration: none;
    height: 33px;
    width: 220px;
    border-radius: 0px;
    background-color: transparent;

}


.menu-item a:hover {
    background-color: #FDF1EB;
}



.menu-item a.active {
    color: #FFB354;
}


/* Butão de download,estrela do canto direito */
.btn-down {
    position: absolute;
    height: 31px;
    width: 120px;
    left: 1100px;
    top: 20px;
    border-radius: 4px;
    background: #ED7839;
    margin-top: 70px;
    font-size: 16px;
    align-items: flex-start;
    text-align: end;
    font-weight: 500;
    font-family: 'Roboto';
    color: #FFFFFF;
}

.btn-down img {
    align-items: flex-start;
}

.btn-star {
    margin-top: 70px;
    position: absolute;
    height: 31px;
    width: 43px;
    left: 1230px;
    top: 20px;
    border-radius: 4px;
    background: #ED7839;
    align-items: center;

}

.btn-doi {
    position: absolute;
    height: 31px;
    width: 43px;
    left: 1280px;
    top: 20px;
    border-radius: 4px;
    background: #ED7839;
    margin-top: 70px;
    align-items: center;
}

.work {
    position: absolute;
    height: 25px;
    width: 239px;
    left: 1090px;
    top: 120px;
    border-radius: 'nullpx';
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: right;
    color: #ED7839;
}

/* mensagem Centro */

.center {
    position: absolute;
    width: 790px;
    left: 270px;
    top: 90px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #ED7839;
    font-style: normal;
}

.video {
    position:absolute;
    top: 220px;
    left: 270px;
    background: #8D350680;


}

.texto {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 900;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-align:left;
    height: 54px;
    width: 734px;
    position: absolute;
    top: 220px;
    left: 310px;
}











/* Rodapé */
footer {
    height: 181px;
    width: 1146px;
    padding-top: 1401px;
    left: 210px;
    border-radius: 0px;
    position: absolute;
}

footer img {
    position: absolute;
    left: 30px;
    right: 4.01%;
    top: 0%;
    bottom: 0%;

}


/* Responsividade */
@media screen and (max-heigth:450px) {
    .menu-item {
        padding-top: 15px;
    }

    .menu-item a {
        font-size: 18px;
    }

}